<div class="flex h-screen overflow-hidden">

  <app-side-nav></app-side-nav>
  
  <div class="flex-1 flex flex-col overflow-auto bg-gray-100">
    
    <div class="p-6 bg-[#1c392c] text-white text-3xl font-bold">
      DASHBOARD
    </div>

    <div class="p-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 bg-white flex-grow">
      
      <p-chart [type]="voltajeChart.type" [data]="voltajeChart.data" class="w-full h-[300px]"></p-chart>

      
      <p-chart [type]="presionChart.type" [data]="presionChart.data" class="w-full h-[300px]"></p-chart>

      
      <p-chart [type]="humedadChart.type" [data]="humedadChart.data" class="w-full h-[300px]"></p-chart>

      
      <p-chart [type]="temperaturaChart.type" [data]="temperaturaChart.data" class="w-full h-[300px]"></p-chart>
    </div>
  </div>

</div>
