<script src="https://accounts.google.com/gsi/client" async defer></script>

<div class="wrapper">
  <div class="card-switch">
    <label class="switch">
      <input type="checkbox" class="toggle">
      <span class="slider"></span>
      <span class="card-side"></span>

      <div class="flip-card__inner">
        <!-- FRONT -->
        <div class="flip-card__front">
          <div class="title">Log in</div>
          <form class="flip-card__form" action="#">
           <!-- Login -->
            <input [(ngModel)]="loginData.email" class="flip-card__input" name="email" placeholder="Email" type="email">
            <input [(ngModel)]="loginData.password" class="flip-card__input" name="password" placeholder="Password" type="password">
            <button class="flip-card__btn" type="button" (click)="onLogin()">Continue</button>

         <button id="googleLogin" type="button" class="flip-card__btn google-btn">
  <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" class="google-icon" />
  Continue with Google
</button>

          </form>
        </div>

        <div class="flip-card__back">
          <div class="title">Sign up</div>
          <form class="flip-card__form" (submit)="onRegister()">
            <input [(ngModel)]="registerData.username" name="username" class="flip-card__input" placeholder="Name" type="text">
            <input [(ngModel)]="registerData.email" name="email" class="flip-card__input" placeholder="Email" type="email">
            <input [(ngModel)]="registerData.password" name="password" class="flip-card__input" placeholder="Password" type="password">
            <input [(ngModel)]="registerData.confirmPassword" name="confirmPassword" class="flip-card__input" placeholder="Confirm Password" type="password">
            <button class="flip-card__btn" type="submit">Confirm!</button>
          </form>
        </div>
      </div>
    </label>
  </div>
</div>
